<div class="container content">
    <div class="row">
        <div class="content col-md-4">
            <main-title>Create Lesson Plan</main-title>

            <form @submit="createPlan" v-if="plan">

                <label>
                    <span>Name:</span>
                    <input type="text" v-model="plan.name" v-on:blur="changeName()">
                </label>

                <h3>Slides:</h3>

                <!-- should have a slide-editor-component with wysiwyg -->


            </form>
        </div>
    </div>
</div>
